/**
* 系统样式出口
* Created by ChangRon 2020/03/16
 */
@import 'mixin';
@import 'variables';

#app {
  height: 100vh;
  display: flex;
  user-select: none;
}

.dark {
  background: $--color-dark !important;
  color: $--color-light !important;
}

.mediate {
  @include mediate
}