/**
* 系统样式出口
* Created by ChangRon 2020/03/16
 */
@import 'mixins';
@import 'variables';

.dark {
  background: $--color-dark !important;
  color: $--color-light !important;
}

.mediate {
  @include mediate
}

.search-bar + .table-page {
  margin-top: 20px;
}