/**
* 全局样式混入
* Created by ChangRon 2020/03/16
 */

@mixin scrollBar {
  &::-webkit-scrollbar-track-piece {
    background: #d3dce6;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #99a9bf;
    border-radius: 20px;
  }
}

@mixin mediate {
  display: flex;
  align-items: center;
  justify-content: center;
}